.Loginform{
    background-color: var(--color-principal-transparente);
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    align-items: center;
    justify-content: center;
    color: var(--color-texto);
    padding: 20px;
    border-radius: var(--border-radius1);
}

.pantalla-login{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-secundario);
}

.input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    background-color: var(--color-principal-transparente);
    padding: 5px;
    border-radius: var(--border-radius1);
    border: 1px solid var(--color-borde);
}

.input-group input{
    padding: 10px;
    border: none;
    outline: none;
    background-color: white;
    color: var(--color-texto);
    border-radius: var(--border-radius2);
}